* {
  box-sizing: border-box;
}

body,
html {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}

.parent {
    max-width: 100%;
  height: 100%;
  width: 1120px;
  margin: 5px auto;
  padding: 0;
}
.container {
  max-width: 100%;
  height: 90%;
  border: 4px solid red;
  display: flex;
  flex-wrap: wrap;
}

.square {
  /* width: 6%;
  height: 6%; */
  flex: 1;
  padding: 2em;
  border: 0.5px solid black;
}

button{
    padding: .75rem;
    margin-left: auto;
    font-size: 2rem;
    font-weight: 500;
}

.hero{
    margin-bottom: 1rem;
    display: flex;
}